<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h2>Data Page</h2>
    <ul>
        {{#each data}}
            <li>
                <strong>Title:</strong> {{title}}, 
                <strong>Price:</strong> {{price}}, 
                <strong>Stars:</strong> {{stars}}, 
                <strong>Category:</strong> {{categoryName}}
            </li>
        {{/each}}
    </ul>
</body>
</html>
